.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}



.ProductsList {
  margin-bottom: 40px; /* מרווח מתחת לרשימת המוצרים */
}

.ContactForm {
  width: 100%; /* רוחב מלא עבור טופס היצירת קשר */
  max-width: 400px; /* רוחב מקסימלי עבור טופס היצירת קשר */
  margin-top: 40px; /* מרווח מעל לטופס */
}
